{{set . "title" "登录"}} {{template "header.html" .}} {{template "navbar.html" .}}
<div class="header" style="height:80px">
    <div class="container-fluid">
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4><strong>登录乐旅博客网</strong></h4>
            <hr>
            <form class="form-horizontal" role="form" action={{url "User.PostSignIn"}} method="POST">
                <input id="RedirectTo" name="RedirectTo" value="{{.RedirectTo}}" type="hidden"> {{with $field := field "mockuser.NickName" .}}
                <div class="form-group {{$field.ErrorClass}}">
                    <label class="col-sm-2 control-label" for="{{$field.Id}}">昵称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="昵称"> {{if $field.Error}}
                        <span class="help-inline text-danger">{{$field.Error}}</span> {{end}}
                    </div>
                </div>
                {{end}} {{with $field := field "mockuser.Password" .}}
                <div class="form-group {{$field.ErrorClass}}">
                    <label class="col-sm-2 control-label" for="{{$field.Id}}">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="密码"> {{if $field.Error}}
                        <span class="help-inline text-danger">{{$field.Error}}</span> {{end}}
                    </div>
                </div>
                {{end}}
                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <button type="submit" class="btn btn-success" id="SignIn">登录</button>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>-->

{{template "footer.html" .}}