{{set . "title" "乐旅 | 关于我们"}} {{template "header.html" .}} {{template "navbar.html" .}}
<style type="text/css ">
    h3 {
        margin: 0;
        line-height: 50px;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="col-md-12">
                    <h3>
                        <br>
                        <br> 乐旅博客 “专注旅行，分享快乐”。
                        <br> 在这里可以发布你的任何旅行博客，可以是纯图片、纯文字，以及图文并茂风格的博客
                        <br> 把你的欢乐时光分享给小伙伴们吧
                        <br>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> {{template "footer.html" .}}