{{set . "title" "乐旅 | 文字"}} {{template "header.html" .}} {{template "navbar.html" .}}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="col-md-12">
                    {{range $index, $blog := .ArticlesBlogs}}
                    <div class="row-fluid">
                        <h3><a href={{url "Blog.View" $blog.ID}} title="{{$blog.Title}}" target="_blank">{{$blog.Title}}</a></h3>
                        <p><a href={{url "User.Index" $blog.AuthorID}}>{{$blog.Author}}</a></p>
                        <p>{{$blog.BriefText}}...&nbsp;&nbsp;<a href={{url "Blog.View" $blog.ID}} title="{{$blog.Title}}" target="_blank">阅读全文</a></p>
                    </div>
                    <p class="text-right">阅读({{$blog.ViewCount}})&nbsp;&nbsp;评论({{len $blog.Comments}})</p>
                    <hr> {{end}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">{{template "rightpanal.html" .}}</div>
</div>
</div>

{{template "footer.html" .}}