<!--{{set . "title" "乐旅 | 首页"}} {{template "header.html" .}} {{template "navbar.html" .}}-->
<link rel="stylesheet" href="../public/css/for-app-home.css">
<link rel="stylesheet" href="../public/css/cpts_425_rj.css">
<script src="../public/js/for-app-home.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2">
            <!--<div class="thumbnail">
                <a href="http://baike.baidu.com/link?url=jfDNHVSxQSvENetJVqWMBQF9huB2cHGXzpWkAqTa0HwnkaFYuRVG56RGeqypzH2Qj7aBeQ0sLDATmLowYgj-Na" title="2011款 SLK 200 时尚型" target="_blank">
                    <img class="lazy" src="public/img/ad/ad_left_0.jpg" data-src="public/img/ad/ad_left_0.jpg" alt="AD..."></a>
                <div class="caption">
                    <h5>完美享受<br> 由此触动</h5>
                    <small>净价:￥47.62万 </small>
                </div>
            </div>
            <div class="thumbnail">
                <a href="http://cn.diytrade.com/china/pd/11106449/背包.html" title="OEM 登山背包" target="_blank">
                    <img class="lazy" src="public/img/ad/ad_left_1.jpg" data-src="public/img/ad/ad_left_1.jpg" alt="AD..."></a>
                <div class="caption">
                    <h5>背包/登山包/包袋</h5>
                    <small>¥60 / 件  </small>
                </div>
            </div>-->
        </div>
        <div class="col-md-6" id="content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {{range $index, $blog := .CarouselBlog}}
                                <div class="item {{if eq $index 1}}active{{end}}">
                                    <a href={{url "Blog.View" $blog.ID}} title="{{$blog.Title}}" target="_blank">
                                        <img src="{{$blog.Cover}}" alt="{{$blog.Title}}">
                                    </a>
                                    <div class="carousel-caption">{{$blog.Title}}</div>
                                </div>
                                {{end}}
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-12">
                    <!--样式参见：http://demo.cssmoban.com/cssthemes3/cpts_425_rj/index.html-->
                    <div class="new-grids">
                        {{range $index, $blog := .Part1Blogs}} {{if even $index}}
                        <div class="col-md-6 new-grid">
                            <a href={{url "Blog.View" $blog.ID}} class="mask">
                                <img src="{{$blog.Cover}}" class="img-responsive zoom-img" alt="乐旅博客">
                            </a>
                        </div>
                        <div class="col-md-6 new-grid1">
                            <h5>{{getDate $blog.CreateTimeStamp}}</h5>
                            <h4><a href={{url "Blog.View" $blog.ID}}>{{$blog.Title}}</a></h4>
                            <p>{{$blog.BriefText}}</p>
                        </div>
                        <div class="clearfix"></div>
                        {{else}}
                        <div class="col-md-6 new-grid1">
                            <h5>{{getDate $blog.CreateTimeStamp}}</h5>
                            <h4><a href={{url "Blog.View" $blog.ID}}>{{$blog.Title}}</a></h4>
                            <p>{{$blog.BriefText}}</p>
                        </div>
                        <div class="col-md-6 new-grid">
                            <a href={{url "Blog.View" $blog.ID}} class="mask">
                                <img src="{{$blog.Cover}}" class="img-responsive zoom-img" alt="乐旅博客">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        {{end}} {{end}}
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            {{range $index, $blog := .Part2LeftBlogs}}
                            <dt style="text-align: left; font-weight: 500;"><a href={{url "Blog.View" $blog.ID}} style="color: #555555">{{$blog.Title}}</a></dt>
                            <dd class="text-right" style="color: #555555"> <a href={{url "User.Index" $blog.AuthorID}} style="color: #555555">{{$blog.Author}}</a></dd>
                            {{end}}
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            {{range $index, $blog := .Part2RightBlogs}}
                            <dt style="text-align: left; font-weight: 500;"><a href={{url "Blog.View" $blog.ID}} style="color: #555555">{{$blog.Title}}</a></dt>
                            <dd class="text-right" style="color: #555555"> <a href={{url "User.Index" $blog.AuthorID}} style="color: #555555">{{$blog.Author}}</a></dd>
                            {{end}}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-6">
                        {{range $index, $blog := .Part3LeftBlogs}}
                        <div class="new-grid">
                            {{if $blog.Cover}}
                            <a href={{url "Blog.View" $blog.ID}} class="mask">
                                <img src="{{$blog.Cover}}" class="img-responsive zoom-img" alt="乐旅博客">
                            </a>
                            {{end}}
                            <br>
                            <p>{{$blog.BriefText}}...</p>
                            <p class="text-right">作者&nbsp;&nbsp;<a href={{url "User.Index" $blog.AuthorID}}>{{$blog.Author}}&nbsp;&nbsp;</a>阅读({{$blog.ViewCount}})&nbsp;&nbsp;评论({{len $blog.Comments}})</p>
                            <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
                        </div>
                        {{end}}
                    </div>
                    <div class="col-md-6">
                        {{range $index, $blog := .Part3RightBlogs}}
                        <div class="new-grid">
                            {{if $blog.Cover}}
                            <a href={{url "Blog.View" $blog.ID}} class="mask">
                                <img src="{{$blog.Cover}}" class="img-responsive zoom-img" alt="乐旅博客">
                            </a>
                            {{end}}
                            <br>
                            <p>{{$blog.BriefText}}...</p>
                            <p class="text-right">作者&nbsp;&nbsp;<a href={{url "User.Index" $blog.AuthorID}}>{{$blog.Author}}&nbsp;&nbsp;</a>阅读({{$blog.ViewCount}})&nbsp;&nbsp;评论({{len $blog.Comments}})</p>
                            <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        {{template "rightpanal.html" .}}
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

{{template "footer.html" .}}