 <!DOCTYPE html>

<html>

<head>
    <title>乐旅 | 首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    
    

    
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    
    <link rel="stylesheet" href="../public/css/link.css">

     
</head>
<body> <style>
    .wrap {
        width: 50px;
        margin-bottom: 10px;
        position: relative;
    }
    
    .img {
        width: 50px;
        height: 50px;
        border: 1px solid #000;
    }
    
    .notice {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        color: #fff;
        text-align: center;
        background-color: #f00;
        border-radius: 50%;
        position: absolute;
        right: -5px;
        top: 10px;
    }
</style>



<nav class="navbar navbar-default" style="background-color:#FFFFFF">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <a href="#"><img src="public/img/logo.png" onerror="javascript:this.src='../public/img/logo.png'" alt="乐旅.部落阁"></a>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href=/>首页<span class="sr-only">(current)</span></a></li>
                        <li><a href=/pictures>图片博客</a></li>
                        <li><a href=/articles>文字博客</a></li>
                        <li><a href=/about>关于我们</a></li>
                        
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li><a href=/User/SignUp>注册</a></li>
                        <li><a href=/User/SignIn>登陆</a></li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    
</nav>
<link rel="stylesheet" href="../public/css/for-app-home.css">
<link rel="stylesheet" href="../public/css/cpts_425_rj.css">
<script src="../public/js/for-app-home.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-6" id="content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            
                            <div class="carousel-inner" role="listbox">
                                
                            </div>

                            
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-12">
                    
                    <div class="new-grids">
                         
                        <div class="col-md-6 new-grid">
                            <a href=/Blog/View?id&#61;580b526ef8260b2d4cc16871 class="mask">
                                <img src="" class="img-responsive zoom-img" alt="乐旅博客">
                            </a>
                        </div>
                        <div class="col-md-6 new-grid1">
                            <h5>10|22</h5>
                            <h4><a href=/Blog/View?id&#61;580b526ef8260b2d4cc16871>eqwaDdasdasd</a></h4>
                            <p>qwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwdasdas dasd</p>
                        </div>
                        <div class="clearfix"></div>
                         
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            
                        </dl>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        
<h3>阅读排行榜</h3>
<dl class="dl-horizontal">
    <br> 
    <dt style="text-align: left; font-weight: 500;"><a href="/Blog/View?id=580b526ef8260b2d4cc16871" style="color: #555555">eqwaDdasdasd</a></dt>
    <dd class="text-right" style="color: #555555">16</dd>
    
</dl>
<h3>评论排行榜</h3>
<dl class="dl-horizontal">
    <br> 
    <dt style="text-align: left; font-weight: 500;"><a href="/Blog/View?id=580b526ef8260b2d4cc16871" style="color: #555555">eqwaDdasdasd</a></dt>
    <dd class="text-right" style="color: #555555">2</dd>
    
</dl>

    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            



        </div>
    </div>
</div>

  <style type="text/css">
	#sidebar {
		position: absolute;
		right: 0px;
		top:69px;
		max-width: 75%;
		z-index: 1000;
		background-color: #fee;
		border: thin solid grey;
		padding: 10px;
	}
	#toggleSidebar {
		position: absolute;
		right: 0px;
		top: 50px;
		background-color: #fee;
	}

</style>
<div id="sidebar" style="display:none;">
	<h4>Available pipelines</h4>
	<dl>
	
		<dt>Avatar</dt>
		<dd>Guest</dd>
	
		<dt>CarouselBlog</dt>
		<dd>[]</dd>
	
		<dt>CommentsBlogs</dt>
		<dd>[{580b526ef8260b2d4cc16871 580987c7f8260b12fd567390 狂赞士之怒 [] eqwaDdasdasd 0  qwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwdasdas dasd &lt;p&gt;qwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwdasdas dasd&lt;br&gt;&lt;/p&gt; [] 16 0 [{580c36e3f8260b177e5eb557 580987c7f8260b12fd567390 http://odkkucuql.bkt.clouddn.com/C7399E2CAB400001631110E0CD5A1AD6.jpg 狂赞士之怒 dsad 2016-10-23 12:04:51} {580c36e8f8260b177e5eb558 580987c7f8260b12fd567390 http://odkkucuql.bkt.clouddn.com/C7399E2CAB400001631110E0CD5A1AD6.jpg 狂赞士之怒 dasdasd 2016-10-23 12:04:56}] 2016-10-22 19:50:06 2016-10-22 19:50:06}]</dd>
	
		<dt>DevMode</dt>
		<dd>true</dd>
	
		<dt>NickName</dt>
		<dd>Guest</dd>
	
		<dt>Part1Blogs</dt>
		<dd>[{580b526ef8260b2d4cc16871 580987c7f8260b12fd567390 狂赞士之怒 [] eqwaDdasdasd 0  qwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwdasdas dasd &lt;p&gt;qwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwdasdas dasd&lt;br&gt;&lt;/p&gt; [] 16 0 [{580c36e3f8260b177e5eb557 580987c7f8260b12fd567390 http://odkkucuql.bkt.clouddn.com/C7399E2CAB400001631110E0CD5A1AD6.jpg 狂赞士之怒 dsad 2016-10-23 12:04:51} {580c36e8f8260b177e5eb558 580987c7f8260b12fd567390 http://odkkucuql.bkt.clouddn.com/C7399E2CAB400001631110E0CD5A1AD6.jpg 狂赞士之怒 dasdasd 2016-10-23 12:04:56}] 2016-10-22 19:50:06 2016-10-22 19:50:06}]</dd>
	
		<dt>Part2LeftBlogs</dt>
		<dd>[]</dd>
	
		<dt>Part2RightBlogs</dt>
		<dd>[]</dd>
	
		<dt>Part3LeftBlogs</dt>
		<dd>[]</dd>
	
		<dt>Part3RightBlogs</dt>
		<dd>[]</dd>
	
		<dt>RunMode</dt>
		<dd>dev</dd>
	
		<dt>UserID</dt>
		<dd>Guest</dd>
	
		<dt>ViewCountBlogs</dt>
		<dd>[{580b526ef8260b2d4cc16871 580987c7f8260b12fd567390 狂赞士之怒 [] eqwaDdasdasd 0  qwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwdasdas dasd &lt;p&gt;qwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwdasdas dasd&lt;br&gt;&lt;/p&gt; [] 16 0 [{580c36e3f8260b177e5eb557 580987c7f8260b12fd567390 http://odkkucuql.bkt.clouddn.com/C7399E2CAB400001631110E0CD5A1AD6.jpg 狂赞士之怒 dsad 2016-10-23 12:04:51} {580c36e8f8260b177e5eb558 580987c7f8260b12fd567390 http://odkkucuql.bkt.clouddn.com/C7399E2CAB400001631110E0CD5A1AD6.jpg 狂赞士之怒 dasdasd 2016-10-23 12:04:56}] 2016-10-22 19:50:06 2016-10-22 19:50:06}]</dd>
	
		<dt>currentLocale</dt>
		<dd></dd>
	
		<dt>errors</dt>
		<dd>map[]</dd>
	
		<dt>flash</dt>
		<dd>map[]</dd>
	
		<dt>session</dt>
		<dd>map[UserID:Guest NickName:Guest Avatar:Guest _TS:1480083075]</dd>
	
		<dt>title</dt>
		<dd>乐旅 | 首页</dd>
	
	</dl>
	<h4>Flash</h4>
	<dl>
	
	</dl>

	<h4>Errors</h4>
	<dl>
	
	</dl>
</div>
<a id="toggleSidebar" href="#" class="toggles"><i class="icon-chevron-left"></i></a>

<script>
	$sidebar = 0;
	$('#toggleSidebar').click(function() {
		if ($sidebar === 1) {
			$('#sidebar').hide();
			$('#toggleSidebar i').addClass('icon-chevron-left');
			$('#toggleSidebar i').removeClass('icon-chevron-right');
			$sidebar = 0;
		}
		else {
			$('#sidebar').show();
			$('#toggleSidebar i').addClass('icon-chevron-right');
			$('#toggleSidebar i').removeClass('icon-chevron-left');
			$sidebar = 1;
		}

    return false;
	});
</script>
 

<hr style="height:1px;border:none;border-top:1px solid #555555;" />
<footer class="footer">
	<p class="text-center">© 2016
		<a href="http://www.lelvboke.com/" target="_blank">乐旅博客网</a> &nbsp;&nbsp;|&nbsp;&nbsp;粤ICP备16081090号&nbsp;&nbsp;|&nbsp;&nbsp;
		
		
		<script src="https://s95.cnzz.com/z_stat.php?id=1260608820&web_id=1260608820" language="JavaScript"></script>&nbsp;&nbsp;|&nbsp;&nbsp;作者
		狂赞士之怒
	</p>
</footer>
<br><br><br>

</body>

</html>